/* add home page styles here */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    font-family: 'Courier Prime', monospace;
}

.city {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 1000px;
    grid-gap: 50px 50px;
    object-fit: cover;
    object-position: bottom;
}

.bg {
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    }

.bg:hover {
    opacity: 0.6;
}

#type {
    background-image: url('../assets/urban.jpeg');
    border-radius: 15px;
}

#environment {
    background-image: url('../assets/jungle.jpeg');
    border-radius: 15px;
}

#apocalypse {
    background-image: url('../assets/lightning.jpeg');
    border-radius: 15px;
}

.box {
    background-color:rgb(118, 118, 118);
    color: chartreuse;
    padding: 2px 50px 50px 15px;
    border: none;
    border-radius: 15px;
}

.blink {
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

input {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid rgb(176, 176, 176);
}

select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 15px;
    width: 340px;
    object-fit: cover;
    object-position: bottom;
}

#slogan-button {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 15px;
    border: none;
}
#name-button {
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 35px;
    border: none;
}

button:hover {
    color: rgb(176, 176, 176);
}

select:hover {
    color: rgb(176, 176, 176)
}

.welcome {
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}