/* add home page styles here */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    font-family: 'Courier Prime', monospace;
}

.city {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    width: 900px;
    grid-gap: 50px 50px;
    object-fit: cover;
    object-position: bottom;
}

.bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }

#type {
    background-image: url('../assets/urban.jpeg');
    border-radius: 25px;
    background-repeat: repeat;
}

#environment {
    background-image: url('../assets/jungle.jpeg');
    border-radius: 25px;
    background-repeat: repeat;
}

#apocalypse {
    background-image: url('../assets/lightning.jpeg');
    border-radius: 25px;
    background-repeat: repeat;
}

#report {
    justify-content: left;
}

#slogan-div {

}